:root {
  --pink: #ff0099;
}

*,
*::before,
*::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "VT323", monospace;
  font-size: 2.4rem;
  overflow: hidden;
  text-rendering: optimizeSpeed;
}
