.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  outline: 1px solid #303030;
}

.title {
  font-size: 3.5rem;
  font-weight: 100;
  cursor: default;
  margin-bottom: 0.5rem;
}
.title::selection {
  color: white;
  background-color: var(--pink);
}

.description {
  color: var(--pink);
  cursor: default;
}
.description::selection {
  color: white;
  background-color: var(--pink);
}

.footer {
  width: 100%;
  max-width: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  fill: #afafaf;
  padding: 1.5rem 1rem;
}
.footer a:hover {
  fill: #303030;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: inherit;
}
